*.class
**/build

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!gradle-wrapper.jar

# IDE Files #
**/.idea
*.iws

# Gradle Files #
**/.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
